<div id="about">
	
	<div class="about-container text-center">
		

		<h1>About Me</h1>
		<br />
		<br />
		<div class="row text-center">
			<div class="col-xs-6 col-sm-3">
				<a href="https://www.uwaterloo.ca" target="_blank" id="uw">
					<span class="fa-stack fa-5x" data-delay"500">
						<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
						<i class="fa fa-university fa-stack-1x fa-1x"></i>
					</span>

					<span class="sr-only">University of Waterloo</span>
				<div id="desc">
					<h4>Univeristy of Waterloo</h4>
					<p>4th Year Student</p>
				</div>
				</a>

			</div>
			<div class="col-xs-6 col-sm-3">
				<a href="https://cs.uwaterloo.ca" target="_blank" id="cs">
					<span class="fa-stack fa-5x">
						<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
						<i class="fa fa-terminal fa-stack-1x fa-1x"></i>
					</span>

					<span class="sr-only">Computer Science</span>

				<div id="desc">
					<h4>Computer Science</h4>
					<p>Candidate for Bachelors of Computer Science</p>
				</div>

				</a>

			</div>
			<div class="col-xs-6 col-sm-3">
				<a href="#experience" id="exp">
					<span class="fa-stack fa-5x">
						<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
						<i class="fa fa-briefcase fa-stack-1x fa-1x"></i>
					</span>

					<span class="sr-only">5 Years of Experience</span>

					<div id="desc">
						<h4>5+ Years Experience</h4>
						<p>Including 5 Internships</p>
					</div>

				</a>

			</div>
			<div class="col-xs-6 col-sm-3">
				<a href="#" target="_blank" id="mw">
					<span class="fa-stack fa-5x">
						<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
						<i class="fa fa-mobile fa-stack-1x fa-1x"></i>
					</span>

					<span class="sr-only">Mobile & Web</span>
				<div id="desc">
					<h4>Mobile & Web</h4>
					<p>Avid Mobile and Web Developer</p>
				</div>
				</a>
			</div>
		</div>
	</div>
</div>
