<div id="about">
	
		<div class="container">
		
				
				<h1 class="text-center">About Me</h1>
				<br />
				<p>I am a third year student currently enrolled in Computer Science at the University of Waterloo. I have a very strong aptitude for programming in C, C++, PHP, Python, Ruby and Perl. I also possess working knowledge of PHP, MySQL, Ruby, Perl, Javascript and jQuery. Apart from having technical proficiency, I have excellent communication skills which helped me resolve testing-grade technical issues through interacting with personnel on other teams under strict time constraints. Through ample training in various work environments, I developed strong interpersonal skills and learned the importance of responsibility and organization at a workplace. As a student, I am passionate about Computer Science and am currently open to any intern positions available.</p>
		</div>
</div>