<div id="experience">
<div class="container">
    <div class="row">
      <div class="text-center">
          <h1 >Experience</h1>
      </div>
        <div class="list-group">
          <div class="list-group-item">
                <div class="media col-md-3">
                    <figure class="">
                        <img class="media-object img-rounded img-responsive cmp-logo"  src="/images/apple.png" alt="placehold.it/350x250" >
                    </figure>
                </div>
                <div class="col-md-6 jobsum">
                    <h4 class="list-group-item-heading"> Apple Inc. </h4>
                    <p class="list-group-item-text"> Using Ruby on Rails, developed several automated graphic tools for software localization project managers.
                    </p>
                </div>
                <div class="col-md-3 text-center datelink">
                   <p> January 2015 - April 2015 </p>
                    <button type="button" class="btn btn-default btn-lg btn-block"><a href="https://apple.com" target="_blank">Website</a></button>
                    
                </div>
          </div>
            <div class="list-group-item">
                <div class="media col-md-3">
                    <figure class="">
                        <img class="media-object img-rounded img-responsive cmp-logo"  src="/images/apple.png" alt="placehold.it/350x250" >
                    </figure>
                </div>
                <div class="col-md-6 jobsum">
                    <h4 class="list-group-item-heading"> Apple Inc. </h4>
                    <p class="list-group-item-text"> Worked heavily with Ruby On Rails to create internal tools for software localization engineers. Also, converted a website to a desktop mac application using swift.
                    </p>
                </div>
                <div class="col-md-3 text-center datelink">
                   <p> April 2014 - August 2014 </p>
                    <button type="button" class="btn btn-default btn-lg btn-block"><a href="https://apple.com" target="_blank">Website</a></button>
                    
                </div>
          </div>

          <div class="list-group-item">
                <div class="media col-md-3">
                    <figure class="">
                        <img class="media-object img-rounded img-responsive cmp-logo"  src="/images/paralucent.png" alt="placehold.it/350x250" >
                    </figure>
                </div>
                <div class="col-md-6 jobsum">
                    <h4 class="list-group-item-heading"> Paralucent </h4>
                    <p class="list-group-item-text">
                        Developed primarily on Drupal and WordPress using PHP and MySQL to assist in developing <a href="http://thehub.bmosalessupport.com/user" target="_blank">BMO's Internal Website</a>, <a href="https://www.careb-accer.org/" target="_blank">Careb Accer</a>, and <a href="http://uat.nbins.com/" target="_blank">NorthBridge Insurance</a>
                    </p>
                </div>
                <div class="col-md-3 text-center datelink">
                   <p> April 2014 - August 2014 </p>
                    <button type="button" class="btn btn-default btn-lg btn-block"><a href="https://paralucent.com" target="_blank">Website</a></button>
                    
                </div>
          </div>

          <div class="list-group-item">
                <div class="media col-md-3">
                    <figure class="">
                        <img class="media-object img-rounded img-responsive cmp-rogers"  src="/images/rogers.png" alt="placehold.it/350x250" >
                    </figure>
                </div>
                <div class="col-md-6 jobsum">
                    <h4 class="list-group-item-heading"> Rogers Digital Media </h4>
                    <p class="list-group-item-text">
                        Worked with WordPress and Drupal using PHP and Ruby to assist in developing&nbsp;<a href="http://www.sportsnet.ca">www.sportsnet.ca</a>, <a href="http://www.walmartlivebetter.ca">www.walmartlivebetter.ca</a>,and <a href="http://www.todaysparent.com">www.todaysparent.com</a>
                    </p>
                </div>
                <div class="col-md-3 text-center datelink">
                   <p> April 2014 - August 2014 </p>
                    <button type="button" class="btn btn-default btn-lg btn-block"><a href="http://www.rogersmedia.com" target="_blank">Website</a></button>
                </div>
          </div>

          <div class="list-group-item">
                <div class="media col-md-3">
                    <figure class="">
                        <img class="media-object img-rounded img-responsive cmp-waterloo"  src="/images/waterloo.png" alt="placehold.it/350x250" >
                    </figure>
                </div>
                <div class="col-md-6 jobsum">
                    <h4 class="list-group-item-heading"> University of Waterloo </h4>
                    <p class="list-group-item-text">
                         Developed an internal request tracking system using Perl, Mason, JavaScrip, HTML and CSS
                    </p>
                </div>
                <div class="col-md-3 text-center datelink">
                   <p> April 2014 - August 2014 </p>
                    <button type="button" class="btn btn-default btn-lg btn-block"><a href="https://uwaterloo.ca/alumni/" target="_blank">Website</a></button>
                    
                </div>
          </div>
         
        </div>
        </div>
</div>
</div>