<div id="projects">
	<div class="container">

        <div>

            <div>
                <h3 style = "text-align: center;">Creations</h3>

                <div class="creations-filter">

			      <button class="btn btn-primary" data-filter="*">All</button>
				  <button class="btn btn-primary" data-filter=".mobile">Mobile</button>
				  <button class="btn btn-primary" data-filter=".web">Web</button>
				  <button class="btn btn-primary" data-filter=".old">Old</button>

                </div>
            </div>

            <div class="holder">

             <div class="creations-container">

                <div class="item web">
                    <img src="images/sportsnet.jpg" alt="image">
                </div> 

                <div class="item web">
                    <img src="images/simran.png" alt="image">
                </div> 

                <div class="item web">
                    <img src="images/site.png" alt="image">
                </div>

                <div class="item old">
                    <img src="images/playerproject.png" alt="image">
                </div>

                <div class="item old">
                    <img src="images/rails.png" alt="image">
                </div> 

                <div class="item old">
                    <img src="images/learna.png" alt="image">
                </div> 
            </div>

        </div>
<!-- 	<div id="filters" class="button-group">
	      <button class="btn btn-primary" data-filter="*">All</button>
		  <button class="btn btn-primary" data-filter=".mobile">Mobile</button>
		  <button class="btn btn-primary" data-filter=".web">Web</button>
		  <button class="btn btn-primary" data-filter=".old">old</button>
	</div>
	<div class="container no-gutter">
    	<div id="posts" class="row">
			<div id="1" class="item web col-sm-3">
            	<div class="item-wrap">
	        		<img src="images/sportsnet.jpg" alt="image">
	        	</div>
	    	</div>
	    	<div id="2" class="item web col-sm-3">
            	<div class="item-wrap">
	        		<img src="images/playerproject.png" alt="image">
	        	</div>
	    	</div>
	    	<div id="3" class="item web col-sm-3">
            	<div class="item-wrap">
	        		<img src="images/sportsnet.jpg" alt="image">
	        	</div>
	    	</div>
	    </div>
	</div>	 -->

	<!--                 <div class="web">
	        		<img src="images/sportsnet.jpg" alt="image">
                </div> 

                <div class="web">
	        		<img src="images/playerproject.png" alt="image">
                </div> 

                <div class="mobile">
	        		<img src="images/sportsnet.jpg" alt="image">
                </div>  -->
	</div>
</div>

</div>