<div id="projects">
	<div class="container">

        <div>

            <div>

                <div class="text-center">
                      <h1>Projects</h1>
                </div>

                <div class="creations-filter">

			      <button class="btn btn-primary" data-filter="*">All</button>
				  <button class="btn btn-primary" data-filter=".mobile">Mobile</button>
				  <button class="btn btn-primary" data-filter=".web">Web</button>
				  <button class="btn btn-primary" data-filter=".old">Old</button>

                </div>
            </div>

            <div class="holder">

             <div class="creations-container">

                <div class="item web">
                    <div class="hover"></div>
                        <img id="box" src="images/sportsnet.jpg" alt="image">
                        <div class="cap">
                            <h2>Project <strong>Name</strong></h2>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div> 

                <div class="item web">
                    <div class="hover"></div>
                        <img id="box" src="images/simran.png" alt="image">
                        <div class="cap">
                            <h2>Project <strong>Name</strong></h2>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div> 

                <div class="item web">
                    <div class="hover"></div>
                        <img id="box" src="images/site.png" alt="image">
                        <div class="cap">
                            <h2>Project <strong>Name</strong></h2>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div>

                <div class="item old">
                    <div class="hover"></div>
                        <img id="box" src="images/learna.png" alt="image">
                        <div class="cap">
                            <h2>Project <strong>Name</strong></h2>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div> 
                <div class="item web">
                    <div class="hover"></div>
                        <img id="box" src="images/gradecalc.png" alt="image">
                        <div class="cap">
                            <h2>Project <strong>Name</strong></h2>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div> 

                <div class="item old">
                    <div class="hover"></div>
                        <img id="box" src="images/musicquiz.png" alt="image">
                        <div class="cap">
                            <h2>Project <strong>Name</strong></h2>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div> 


                <div class="item old">
                    <div class="hover"></div>
                        <img id="box" src="images/requesttracker.png" alt="image">
                        <div class="cap">
                            <h2>Project <strong>Name</strong></h2>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div> 

                <div class="item old">
                    <div class="hover"></div>
                        <img id="box" src="images/playerproject.png" alt="image">
                        <div class="cap">
                            <h2>Project <strong>Name</strong></h2>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div>

                <div class="item old">
                    <div class="hover"></div>
                        <img id="box" src="images/rails.png" alt="image">
                        <div class="cap">
                            <h2>Project <strong>Name</strong></h2>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div> 


            </div>

        </div>
<!-- 	<div id="filters" class="button-group">
	      <button class="btn btn-primary" data-filter="*">All</button>
		  <button class="btn btn-primary" data-filter=".mobile">Mobile</button>
		  <button class="btn btn-primary" data-filter=".web">Web</button>
		  <button class="btn btn-primary" data-filter=".old">old</button>
	</div>
	<div class="container no-gutter">
    	<div id="posts" class="row">
			<div id="1" class="item web col-sm-3">
            	<div class="item-wrap">
	        		 <img src="images/sportsnet.jpg" alt="image">
	        	</div>
	    	</div>
	    	<div id="2" class="item web col-sm-3">
            	<div class="item-wrap">
	        		 <img src="images/playerproject.png" alt="image">
	        	</div>
	    	</div>
	    	<div id="3" class="item web col-sm-3">
            	<div class="item-wrap">
	        		 <img src="images/sportsnet.jpg" alt="image">
	        	</div>
	    	</div>
	    </div>
	</div>	 -->

	<!--                 <div class="web">
	        		 <img src="images/sportsnet.jpg" alt="image">
                </div> 

                <div class="web">
	        		<img src="images/playerproject.png" alt="image">
                </div> 

                <div class="mobile">
	        		<img src="images/sportsnet.jpg" alt="image">
                </div>  -->
	</div>
</div>

</div>