<div id="projects">
	<div class="container">

        <div>

            <div>

                <div class="text-center">
                      <h1>Projects</h1>
                </div>

                <div class="creations-filter">

			      <button class="btn btn-primary" data-filter="*">All</button>
				  <button class="btn btn-primary" data-filter=".mobile">Mobile</button>
				  <button class="btn btn-primary" data-filter=".web">Web</button>
				  <button class="btn btn-primary" data-filter=".old">Old</button>

                </div>
            </div>

            <div class="holder">

             <div class="creations-container">

                <div class="item web">
                    <div class="hover"></div>
                        <img id="box" src="images/sportsnet.jpg" alt="image">
                        <div class="cap">
                            <h2>Sports<strong>Net</strong></h2>
                            <div class="icon-project">
                                <a href="http://www.github.com" target="_blank"><span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="fa fa-github fa-stack-1x fa-1x"></i>
                                </span>
                                </a>
                            </div>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div> 

                <div class="item web">
                    <div class="hover"></div>
                        <img id="box" src="images/simran.png" alt="image">
                        <div class="cap">
                        
                            <h2>Butalia <strong>Media</strong></h2>
                            <div class="icon-project">
                                <a href="http://www.github.com" target="_blank"><span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="fa fa-github fa-stack-1x fa-1x"></i>
                                </span>
                                </a>
                            </div>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div> 

                <div class="item web">
                    <div class="hover"></div>
                        <img id="box" src="images/site.png" alt="image">
                        <div class="cap">
                            <h2>This <strong>Portfolio</strong></h2>
                            <div class="icon-project">
                                <a href="http://www.github.com" target="_blank"><span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="fa fa-github fa-stack-1x fa-1x"></i>
                                </span>
                                </a>
                            </div>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div>

                <div class="item old">
                    <div class="hover"></div>
                        <img id="box" src="images/learna.png" alt="image">
                        <div class="cap">
                            <h2>Learna <strong>Tutoring</strong></h2>
                            <div class="icon-project">
                                <a href="http://www.github.com" target="_blank"><span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="fa fa-github fa-stack-1x fa-1x"></i>
                                </span>
                                </a>
                            </div>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div> 
                <div class="item web">
                    <div class="hover"></div>
                        <img id="box" src="images/gradecalc.png" alt="image">
                        <div class="cap">
                            <h2>Grade <strong>Calculator</strong></h2>
                            <div class="icon-project">
                                <a href="http://www.github.com" target="_blank"><span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="fa fa-github fa-stack-1x fa-1x"></i>
                                </span>
                                </a>
                            </div>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div> 

                <div class="item old">
                    <div class="hover"></div>
                        <img id="box" src="images/musicquiz.png" alt="image">
                        <div class="cap">
                            <h2>Music <strong>Quiz</strong></h2>
                            <div class="icon-project">
                                <a href="http://www.github.com" target="_blank"><span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="fa fa-github fa-stack-1x fa-1x"></i>
                                </span>
                                </a>
                            </div>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div> 


                <div class="item old">
                    <div class="hover"></div>
                        <img id="box" src="images/requesttracker.png" alt="image">
                        <div class="cap">
                            <h2>Request <strong>Tracker</strong></h2>
                            <div class="icon-project">
                                <a href="http://www.github.com" target="_blank"><span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="fa fa-github fa-stack-1x fa-1x"></i>
                                </span>
                                </a>
                            </div>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div> 

                <div class="item old">
                    <div class="hover"></div>
                        <img id="box" src="images/playerproject.png" alt="image">
                        <div class="cap">
                            <h2>ThePlayer<strong>Project</strong></h2>
                            <div class="icon-project">
                                <a href="http://www.github.com" target="_blank"><span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="fa fa-github fa-stack-1x fa-1x"></i>
                                </span>
                                </a>
                            </div>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div>

                <div class="item old">
                    <div class="hover"></div>
                        <img id="box" src="images/rails.png" alt="image">
                        <div class="cap">
                            <h2>Rails<strong>Registration</strong></h2>
                            <div class="icon-project">
                                <a href="http://www.github.com" target="_blank"><span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="fa fa-github fa-stack-1x fa-1x"></i>
                                </span>
                                </a>
                            </div>
                            <p class="desc">Lipsum caption... ajun is awesome!</p>
                        </div>
                </div> 


            </div>

        </div>
	</div>
</div>

</div>