<div id="skills">

  <div class="container text-center">


    <h1>Skills</h1>
    <br />
    <br />

    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 graph">

       <div class="skillbar clearfix " data-percent="95%">
         <div class="skillbar-title skill-1"><span>Rails</span></div>
         <div class="skillbar-bar skill-1"></div>
         <div class="skill-bar-percent">95%</div>
       </div> <!-- End Skill Bar -->

       <div class="skillbar clearfix " data-percent="80%">
        <div class="skillbar-title skill-2"><span>Swift</span></div>
        <div class="skillbar-bar skill-2" ></div>
        <div class="skill-bar-percent">80%</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="80%">
        <div class="skillbar-title skill-1"><span>PHP</span></div>
        <div class="skillbar-bar skill-1" ></div>
        <div class="skill-bar-percent">80%</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="90%">
        <div class="skillbar-title skill-2"><span>JavaScript</span></div>
        <div class="skillbar-bar skill-2" ></div>
        <div class="skill-bar-percent">90%</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="80%">
        <div class="skillbar-title skill-1"><span>C++</span></div>
        <div class="skillbar-bar skill-1" ></div>
        <div class="skill-bar-percent">80%</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="90%">
        <div class="skillbar-title skill-2"><span>MySQL</span></div>
        <div class="skillbar-bar skill-2" ></div>
        <div class="skill-bar-percent">90%</div>
      </div> <!-- End Skill Bar -->


       <div class="skillbar clearfix " data-percent="70%">
        <div class="skillbar-title skill-1"><span>Java</span></div>
        <div class="skillbar-bar skill-1" ></div>
        <div class="skill-bar-percent">70%</div>
      </div> <!-- End Skill Bar -->


      <div class="skillbar clearfix " data-percent="95%">
        <div class="skillbar-title skill-2"><span>Html</span></div>
        <div class="skillbar-bar skill-2" ></div>
        <div class="skill-bar-percent">95%</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="90%">
        <div class="skillbar-title skill-1"><span>CSS</span></div>
        <div class="skillbar-bar skill-1" ></div>
        <div class="skill-bar-percent">90%</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="80%">
        <div class="skillbar-title skill-2"><span>Photoshop</span></div>
        <div class="skillbar-bar skill-2" ></div>
        <div class="skill-bar-percent">90%</div>
      </div> <!-- End Skill Bar -->

    </div>

      <div class="col-xs-12 col-sm-6 summary">
          <div class="col-xs-6 col-sm-6">
             <span>
              <i class="fa fa-cogs fa-5x"></i>
              <p>Analytical and problem solving skills gained through the development of several projects</p>
            </span>
          </div>

          <div class="col-xs-6 col-sm-6">
             <span>
              <i class="fa fa-users fa-5x"></i>
              <p>Strong interpersonal and teamwork skills through regular interactions in various group projects</p>
            </span>
          </div>
          <div class="col-xs-6 col-sm-6">
             <span>
              <i class="fa fa-pencil fa-5x"></i>
              <p>Ability to learn new languages and software quickly without supervision</p>
            </span>
          </div>
          <div class="col-xs-6 col-sm-6">
             <span>
              <i class="fa fa-globe fa-5x"></i>
              <p>Fluent in English, Hindi, Urdu, and Punjabi</p>
            </span>
          </div>
      </div> 

  </div>
</div>
</div>
